@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: #FFFAFB;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.hero_banner {
    width: 1440px;
    height: 657px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 30px; */
}

.right_arrow,
.left_arrow {
    width: 50px;
    height: 50px;
    transition: 0.3s all;
    cursor: pointer;
}

.right-arrow {
    right: 140px;
}

.right_arrow:hover,
.left_arrow:hover {
    transform: scale(1.3, 1.3);
}

.banner_btn {
    width: 170px;
    height: 61px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: normal;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 30px;
}

.vector {
    width: 20px;
    height: 17px;
}

.active-circle {
    border: 2px solid #000000;
    border-radius: 50%;
    padding: 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
  
.hero {
  transition: 0.5s ease;
}

.hero_img {
    width: 500px;
    height: 550px;
    transition: opacity 0.5s ease;
}

.hr_line {
    height: 32px;
    width: 2px;
    border: none;
    background-color: #000000;
    transform: rotate(90deg);
}

.categories_arrows {
    cursor: pointer;
}

.category_slider {
    display: flex;
    overflow-x: hidden;
    transition: transform 0.5s ease;
}

.category_image {
    flex: 0 0 auto;
    margin-right: 8px;
}

.react-horizontal-scrolling-menu--wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail-image {
    width: 550px;
    height: 651px;
}

.book-card {
    display: flex;
    width: 280px;
    padding: 16px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-card .book-card_cover {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 0 auto 8px auto;
    perspective: 1000px;
}

.book-card .book-card_book {
    height: 100%;
    transform-style: preserve-3d;
    transition: all 250ms ease;
}

.book-card .book-card_book-front {
    position: absolute;
    height: 100%;
}

.book-card .book-card_book-back {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(-40px);
}

.book-card .book-card_img {
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
}

.book-card .book-card_title {
    font-size: 1.5em;
    margin-bottom: 8px;
}

.book-card .book-card_author {
    color: #757575;
    font-size: 1em;
}

.book-card:hover .book-card_book {
    transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
}

.book-card:hover .book-card_book-back {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}

.book-card:hover .book-card_book-side {
    opacity: 1;
}

/* TABS */
.CustomTabsList {
    min-width: 400px;
    background-color: #757575;
    border-radius: 12px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.CustomTab {
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: bold;
    background-color: transparent;
    width: 100%;
    line-height: 1.5;
    padding: 8px 12px;
    margin: 6px;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.CustomTab:hover {
    background-color: #66BACC;
}

.CustomTab:focus {
    color: #fff;
    outline: 3px solid #99D8E5;
}

.CustomTab.Mui-selected {
    background-color: #fff;
    color: #0D5463;
}

.CustomTab.Mui-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.CustomTabPanel {
    width: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.875rem;
}
/* TABS */

.google-btn{
    background-color: #FFF;
    color: #000000;
    border: 1px solid #E8E8E8;
    width: 450px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.submit-btn {
    background-color: #000000;
    color: #FFF;
    border: none;
    width: 450px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 900;
    font-size: 18px;
}

.welcome {
    width: 6px;
    height: 35px;
    border-radius: 5px;
    background-color: #000000;
}

.pointer {
    cursor: pointer;
}

.input-btn{
    padding: 0px;
    width: 40px;
    height: 36px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    border-width: 1px 0px;
    border-top-style: solid;
    border-top-color: rgb(227, 227, 228);
    border-bottom-style: solid;
    border-bottom-color: rgb(227, 227, 228);
    font-size: 14px;
}

.cart-btn {
    width: 40px;
    height: 36px;
    margin: 0px;
    background: rgb(246, 246, 246);
    border: 1px solid rgb(227, 227, 228);
    cursor: pointer;
    padding: 0px;
    transition: ease 0.3s;
}

.cart-btn:hover {
    background: rgb(190, 190, 190);
}